*,
*::before,
*::after  {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', system-ui;
}

.menu-container {
    background-color: white;
    padding: 10px 0 20px 0;
}

.menu {
    width: 85%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #D2D2D2;
}

.emoji {
    font-size: 64px;
    width: 80%;
    transform: translateX(-12px);
}

.item-info > *,
.ordered-item > * {
    margin: 0;
}

.item-name {
    font-weight: 400;
}

.ingredients {
    color: #8B8B8B;
}

.price {
    margin-top: 10px;
}

.add-to-card__btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #DEDEDE;
    background-color: white;
    font-size: 28px;
    color: #3c3c3c;
    margin-left: auto;
    cursor: pointer;
}

.add-to-card__btn:hover {
    background-color: rgb(245, 244, 244);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.pre-checkout-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.pre-checkout-list-container > hr {
    width: 100%;
}

.complete-order-btn,
.pay-btn {
    background-color: #16DB99;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
}

.complete-order-btn:hover,
.pay-btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.pay-btn {
    margin-top: 20px;
}

.pre-checkout-list {
    padding: 0;
    width: 100%;
}

.ordered-item {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
}

.ordered-item > h4 {
    margin-left: auto;
}

.remove-btn {
    border: none;
    background-color: white;
    color: #BBB;
    cursor: pointer;;
}

.total-price-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    font-family: 'Verdana', Courier, monospace;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 90%;
    z-index: 20;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.4);
}

.payment-form {
    margin-bottom: 0;
}

.payment-form > h4 {
    margin-top: 0;
    text-align: center;
}

.payment-form > * {
    padding: 13px;
    width: 100%;
}

.payment-form > input {
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent */
    z-index: 10; /* Higher than the background but lower than the modal */
}

.close-modal-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.payment-success-msg-container {
    background-color: #ECFDF5;
    width: 85%;
    text-align: center;
    padding: 25px 25px;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 4px;
}

.payment-success-msg {
    margin: 0;
    color: #065F46;
    font-family: 'Smythe', sans-serif;
    font-size: 32px;
}

.hidden {
    display: none;
}


@media only screen and (min-width: 600px) {
    .modal {
        width: 350px;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
        height: 100vh;
        width: 100%;
    }

    .menu-container {
        width: 600px;
        background-color: white;
    }

    .add-to-card__btn {
        height: 50px;
        width: 50px;
    }

    .modal {
        width: 350px;
    }
}